<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <!--  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">root</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/divisimabd</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
  <mapping class="pe.edu.unsch.entities.Cliente"/>
  <mapping class="pe.edu.unsch.entities.Estadopedido"/>
  <mapping class="pe.edu.unsch.entities.Pedido"/>
  <mapping class="pe.edu.unsch.entities.Producto"/>
  <mapping class="pe.edu.unsch.entities.Productopedido"/>
 </session-factory>
</hibernate-configuration>
